

img {
   height: 200px;
   width: 200;
}

div.jumbotron div.container{
   background-color: rgb(241, 236, 236);
   width: 1160px;
   margin-left: 150px;
   margin-right: 300px;
   margin-top: 50px;
   padding: 40px;
}

div.img img{
   border:snow;
   width: 250px;
   height: 250px;
   margin-top: 50px;
   margin-left: 150px;
   margin-right: 20px;
}